sso() {
  cookie_jar="$1";
  endpoint="https://$6.ubnt.com/api/sso/v1/$2";
  method="$3";
  data="$4";
  origin="$5";
  curl -ik \
  -b "$cookie_jar" -c "$cookie_jar" \
  -H 'content-type: application/json' \
  "$endpoint" \
  -X "$method" \
  -d "$data" \
  -H "Origin: https://$origin";
}

sso_u1() {
    sso "/tmp/cookie_jar_u1" "$1" "$2" "$3" account.ubnt.com dev-build
}

sso_u1_prod() {
    sso "/tmp/cookie_jar_u1" "$1" "$2" "$3" account.ubnt.com api
}

#just log me in
sso_login() {
  read -s -p "enter password: " password
  sso_u1 login POST '{"user":"'$1'","password":"'"$password"'"}'
}
