[submodule "javascript.vim"]
	path = .vim/bundle/javascript.vim
	url = https://github.com/serverhorror/javascript.vim.git
[submodule "nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "bundle/jshint.vim"]
	path = .vim/bundle/jshint.vim
	url = git://github.com/wookiehangover/jshint.vim.git
[submodule "bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = git://github.com/ddollar/nerdcommenter.git
[submodule "bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/vim-autoclose"]
	path = .vim/bundle/vim-autoclose
	url = git://github.com/Townk/vim-autoclose.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
