[user]
  name = Patrick Weygand
  email = patrick.weygand@gmail.com
[credential]
  helper = osxkeychain
[color]
  ui = true
[merge]
  log = true
[push]
  default = upstream
[rerere]
  enabled = 1
[alias]
  co = checkout
  ghrepo = !git remote show origin -n | grep 'Fetch' | perl -pe 's/.*git\\@github.com://g' | perl -pe 's/.git$//'
  url = !echo http://github.com/$(git ghrepo)
  pr  = !echo $(git url)/compare/master...$(git current)
