[user]
  name = Patrick Weygand
  email = patrick.weygand@gmail.com
[credential]
  helper = osxkeychain

[alias]
  co = checkout
  ghrepo = !git remote show origin -n | grep 'Fetch' | perl -pe 's/.*git\\@github.com://g' | perl -pe 's/.git$//'
  url = !echo http://github.com/$(git ghrepo)
  pr  = !echo $(git url)/compare/master...$(git current)
  # Remove branches that have already been merged with master
  # a.k.a. ‘delete merged’
  dm = "!git branch --merged | grep -v master | grep -v '\\*' | xargs -n 1 git branch -d"

[apply]

  # Detect whitespace errors when applying a patch
  whitespace = fix
[color]
  ui = true

[color "branch"]

  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]

  meta = yellow bold
  frag = magenta bold # line info
  old = red # deletions
  new = green # additions

[color "status"]

  added = yellow
  changed = green
  untracked = cyan

[core]
  # Make `git rebase` safer on OS X
  # More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
  trustctime = false

  # Prevent showing files whose names contain non-ASCII symbols as unversioned.
  # http://michael-kuehnel.de/git/2014/11/21/git-mac-osx-and-german-umlaute.html
  precomposeunicode = false

  # Because mac
  ignoreCase = true

[diff]

  # Detect copies as well as renames
  renames = copies

[merge]
  log = true
[push]
  default = upstream
[rerere]
  enabled = 1

[rebase]
  autoStash = true
  autoSquash = true
