snippet fun "function"
/**
 * $2
 * @param {$4} $3 - $5
 */
$1 = function $1 ($3) {
  $5
}
endsnippet

snippet funa "function anon" i
function ($1) {
  $2
}
endsnippet

snippet bef "beforeEach" b
beforeEach(() => {
	$0
})
endsnippet

snippet it "it" b
it('$1', () => {
	$0
})
endsnippet

snippet desc "describe" b
describe('$1', () => {
  ${2:beforeEach(() => {
    $3
  })

}  it('$4', () => {
    $0
  })
})
endsnippet
